header hgroup {
	text-align: left;
	padding-bottom: 20px;
	padding-top: 20px;
}

.mythemes-nav-btn button.btn-base-nav {    background: #aaa6a6 ;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;}
.feature-sidebar-3 {text-align: center;}
.feature-sidebar-3 a { display: block;}